@import url('./basic/global.css');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&family=Gamja+Flower&family=Jua&family=Nanum+Brush+Script&display=swap');

body{
    font-family: var(--font-family);
    /* background-color: #f5f5f5; */
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 0 2rem #ddd;
    max-width: 32rem;
    width: 100%;
    text-align: center;        
}

h1{    
    margin-bottom: 20px;
    color: #ebae5e;
    font-size: 3rem;
}

#checkInput{
    width: 100%;
    padding: .8rem;
    border: 1px solid var(--main-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    color: #aaa;
    font-size: 1.1rem;    
    font-family: 'Gamja Flower', cursive;
}
#checkInput::placeholder{
    font-family: var(--font-family)
}
#addBtn{
    width: 30%;
    padding: .7rem;
    background: var(--serve-color);
    color: #666;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem; 
    font-family: var(--font-family) 
}

#addBtn:hover{
    background: var(--main-color);
    color: #fff;
}

#checkList{
    margin-top: 1rem;
}
li{    
    list-style: none;
    background-color: #f5f5f5;
    padding: .7rem;
    margin-bottom: .8rem;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

li.complete{
    text-decoration: line-through;
    color: #999;
}

button.deleteBtn{
    background: #ff5a5a;
    color: #fff;
    font-family: 'Jua', sans-serif; 
    font-size: .8rem;   
    border: none;
    border-radius: .4rem;
    padding: .5rem;
    cursor: pointer;
}

button.deleteBtn:hover{
    background-color: #cc4949;
}