@import url('/front/css/basic/global.css');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&family=Gamja+Flower&family=Jua&family=Nanum+Brush+Script&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--font-family);
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.game-container{
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
  text-align: center;
}

h1{
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--import-color);
}

canvas{
  display: block;
  margin: 0 auto;
  border: 1px solid var(--import-color);
}

.buttons{
  margin-top: 1rem;
}

.buttons button{
  background: #4CAF50;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  font-family: 'Gamja Flower', cursive; 
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.buttons #stop-btn{
  background: #FF4136;
}

.buttons #start-btn:hover {
  background: #45a049;
}
.buttons #stop-btn:hover{
  background: #ff0210;
}

.score{
  font-size: 1.2rem;
  margin-top: 1rem;
}