@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Nanum+Gothic+Coding&display=swap');

/* 브랜드 색상 */
:root{
    --serve-color: #f8f0e5;
    --main-color: #eadbc8;
    --import-color: #ebae5e;
    --header-height: 80px;
    --font-family: 'Gaegu', cursive;
}
*{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}
/* 마우스 드래그시 배경색 설정 */
*::selection{
    background: #dac0a3;
    color: #fff;
}

html{
    font-family: 'Nanum Gothic Coding', monospace;
    overflow-x: hidden;
    scrollbar-width: none; 
}

body{
    -ms-overflow-style: none; 
}
body::-webkit-scrollbar{ 
    display: none;
}